acres==0.5.0
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aioice==0.9.0
aioresponses==0.7.6
aiortc==1.9.0
aiosignal==1.4.0
aiosqlite==0.22.1
alembic==1.14.1
annotated-doc==0.0.4
annotated-types==0.7.0
anthropic==0.34.2
antlr4-python3-runtime==4.9.3
anyascii==0.3.3
anyio==4.10.0
appdirs==1.4.4
APScheduler==3.10.1
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==3.0.0
async-lru==2.0.4
attrs==25.3.0
Authlib==1.6.6
av==12.3.0
babel==2.17.0
backoff==2.2.1
backports.tarfile==1.2.0
beartype==0.22.9
beautifulsoup4==4.12.3
binaryornot==0.4.4
bleach==6.2.0
blinker==1.9.0
boto3==1.40.35
botocore==1.40.35
cachetools==5.5.0
certifi==2025.8.3
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.3
ci-info==0.3.0
click==8.2.1
cloudpickle==3.1.1
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.2
configobj==5.0.9
configparser==7.2.0
contourpy==1.3.0
cookiecutter==2.6.0
cryptography==45.0.6
cycler==0.12.1
cyclopts==4.4.3
Cython==3.0.0
dacite==1.6.0
dagshub==0.5.4
dagshub-annotation-converter==0.1.3
databricks-sdk==0.44.0
dataclasses-json==0.6.7
debugpy==1.8.12
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.18
dill==0.4.0
diskcache==5.6.3
distlib==0.3.8
distro==1.9.0
dnspython==2.7.0
docker==6.1.3
docstring_parser==0.17.0
docutils==0.16
dotenv==0.9.9
email-validator==2.3.0
etelemetry==0.3.1
exceptiongroup==1.3.1
executing==2.2.0
faiss-cpu==1.11.0.post1
fakeredis==2.33.0
fastapi==0.123.10
fastjsonschema==2.21.1
fastmcp==2.14.2
ffmpeg-python==0.2.0
filelock==3.18.0
Flask==3.1.1
flatbuffers==24.3.25
fonttools==4.54.1
fqdn==1.5.1
frozenlist==1.7.0
fsspec==2025.7.0
future==1.0.0
gitdb==4.0.12
GitPython==3.1.44
google-adk==1.21.0
google-api-core==2.21.0
google-api-python-client==2.187.0
google-auth==2.45.0
google-auth-httplib2==0.2.0
google-cloud-aiplatform==1.132.0
google-cloud-appengine-logging==1.7.0
google-cloud-audit-log==0.4.0
google-cloud-bigquery==3.39.0
google-cloud-bigquery-storage==2.36.0
google-cloud-bigtable==2.35.0
google-cloud-core==2.4.1
google-cloud-discoveryengine==0.13.12
google-cloud-logging==3.13.0
google-cloud-monitoring==2.28.0
google-cloud-resource-manager==1.15.0
google-cloud-secret-manager==2.26.0
google-cloud-spanner==3.61.0
google-cloud-speech==2.35.0
google-cloud-storage==2.18.2
google-cloud-trace==1.17.0
google-crc32c==1.6.0
google-genai==1.56.0
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.65.0
googlemaps==4.10.0
GPUtil==1.4.0
gql==3.5.0
graphene==3.4.3
graphql-core==3.2.6
graphql-relay==3.2.0
graphviz==0.21
greenlet==3.2.4
grpc-google-iam-v1==0.14.3
grpc-interceptor==0.15.4
grpcio==1.76.0
grpcio-status==1.71.2
h11==0.16.0
h5py==3.14.0
httpcore==1.0.9
httplib2==0.22.0
httpx==0.28.1
httpx-sse==0.4.1
huggingface-hub==0.34.4
humanfriendly==10.0
idna==3.10
ifaddr==0.2.0
imageio==2.36.0
importlib-metadata==6.11.0
importlib_resources==6.5.2
inference==0.24.0
inference-sdk==0.24.0
inference-tools==0.13.4
iniconfig==2.0.0
ipykernel==6.29.5
ipython==8.32.0
ipywidgets==8.1.5
isoduration==20.11.0
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.2
jaraco.functools==4.4.0
jedi==0.19.2
jellyfish==0.11.2
Jinja2==3.1.6
jiter==0.10.0
jmespath==1.0.1
joblib==1.4.2
json5==0.10.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-path==0.3.4
jsonschema-specifications==2024.10.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.15.0
jupyter_server_terminals==0.5.3
jupyterlab==4.3.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
keyring==25.7.0
kiwisolver==1.4.7
langchain==0.3.27
langchain-community==0.3.27
langchain-core==0.3.74
langchain-deepseek==0.1.4
langchain-openai==0.3.29
langchain-text-splitters==0.3.9
langdetect==1.0.9
langsmith==0.4.13
lazy_loader==0.4
lib50==3.0.11
looseversion==1.3.0
lupa==2.6
lxml==6.0.0
Mako==1.3.9
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.26.1
matplotlib==3.9.2
matplotlib-inline==0.1.7
mcp==1.25.0
mdurl==0.1.2
mistune==3.1.1
mlflow==2.20.1
mlflow-skinny==2.20.1
mmh3==5.2.0
mock==4.0.3
more-itertools==10.8.0
mpmath==1.3.0
multidict==6.6.4
multiprocess==0.70.18
mypy_extensions==1.1.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.5
nibabel==5.3.2
nipype==1.10.0
nltk==3.9.1
notebook==7.3.2
notebook_shim==0.2.4
numpy==1.26.4
omegaconf==2.3.0
onnx==1.18.0
onnxruntime==1.15.1
openai==1.99.9
openapi-pydantic==0.5.1
opencv-python==4.12.0.88
opencv-python-headless==4.10.0.84
opentelemetry-api==1.37.0
opentelemetry-exporter-gcp-logging==1.11.0a0
opentelemetry-exporter-gcp-monitoring==1.11.0a0
opentelemetry-exporter-gcp-trace==1.11.0
opentelemetry-exporter-otlp-proto-common==1.37.0
opentelemetry-exporter-otlp-proto-http==1.37.0
opentelemetry-exporter-prometheus==0.60b1
opentelemetry-instrumentation==0.60b1
opentelemetry-proto==1.37.0
opentelemetry-resourcedetector-gcp==1.11.0a0
opentelemetry-sdk==1.37.0
opentelemetry-semantic-conventions==0.58b0
orjson==3.11.1
overrides==7.7.0
packaging==24.2
pandas==2.3.1
pandocfilters==1.5.1
parso==0.8.4
pathable==0.4.4
pathlib==1.0.1
pathos==0.3.4
pathvalidate==3.3.1
pdf2image==1.17.0
pdfminer.six==20250506
pdfplumber==0.11.7
pendulum==3.0.0
pexpect==4.9.0
piexif==1.1.3
pillow==11.3.0
pipenv==2024.0.1
platformdirs==4.3.1
pluggy==1.5.0
pox==0.3.6
ppft==1.7.7
prettytable==3.11.0
prometheus-fastapi-instrumentator==6.0.0
prometheus_client==0.23.1
prompt_toolkit==3.0.48
propcache==0.3.2
proto-plus==1.24.0
protobuf==5.29.5
prov==2.1.1
psutil==6.1.0
ptyprocess==0.7.0
PuLP==2.9.0
pure_eval==0.2.3
puremagic==1.30
py-cpuinfo==9.0.0
py-key-value-aio==0.3.0
py-key-value-shared==0.3.0
pyarrow==18.1.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pybase64==1.4.0
pyclipper==1.3.0.post6
pycparser==2.22
pydantic==2.11.7
pydantic-settings==2.10.1
pydantic_core==2.33.2
pydocket==0.16.3
pydot==4.0.1
pyee==12.0.0
pygame==2.6.0
Pygments==2.18.0
PyJWT==2.10.1
pylibsrtp==0.10.0
PyMuPDF==1.26.3
pyOpenSSL==24.2.1
pyparsing==3.2.3
pypdf==5.9.0
PyPDF2==3.0.1
pypdfium2==4.30.0
pyperclip==1.11.0
pyreadline3==3.5.4
pytesseract==0.3.13
pytest==8.3.3
pytest-asyncio==0.21.1
python-dateutil==2.9.0.post0
python-doctr==1.0.0
python-dotenv==1.1.1
python-json-logger==3.2.1
python-multipart==0.0.20
python-slugify==8.0.4
pytube==15.0.0
pytz==2025.2
pywin32==311
pywin32-ctypes==0.2.3
pywinpty==2.0.15
pyxnat==1.6.3
PyYAML==6.0.2
pyzmq==26.2.1
radian==0.6.13
RapidFuzz==3.13.0
rchitect==0.4.7
rdflib==7.1.4
redis==5.1.1
referencing==0.35.1
regex==2025.7.34
requests==2.32.4
requests-file==2.1.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==14.2.0
rich-rst==1.3.2
rpds-py==0.20.0
rsa==4.7.2
s3transfer==0.14.0
safetensors==0.6.2
sagemaker==2.251.1
sagemaker-core==1.0.59
schema==0.7.7
scikit-image==0.24.0
scikit-learn==1.5.1
scipy==1.16.1
semver==3.0.4
Send2Trash==1.8.3
serpapi==0.1.5
shapely==2.1.1
shellingham==1.5.4
simplejson==3.20.1
six==1.17.0
skypilot==0.5.0
smdebug-rulesconfig==1.0.1
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
SQLAlchemy==2.0.43
sqlalchemy-spanner==1.17.2
sqlparse==0.5.3
sse-starlette==3.0.2
stack-data==0.6.3
starlette==0.50.0
structlog==24.4.0
supervision==0.22.0
sympy==1.14.0
tabulate==0.9.0
tblib==3.1.0
tenacity==9.1.2
termcolor==1.1.0
terminado==0.18.1
text-unidecode==1.3
threadpoolctl==3.5.0
tifffile==2024.9.20
tiktoken==0.11.0
time-machine==2.16.0
tinycss2==1.4.0
tldextract==5.1.2
tokenizers==0.14.1
torch==2.8.0
torchvision==0.23.0
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
traits==7.0.2
transformers==4.35.0
treelib==1.7.0
typer==0.21.0
types-python-dateutil==2.9.0.20241206
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions==4.15.0
tzdata==2025.2
tzlocal==5.3.1
uri-template==1.3.0
uritemplate==4.1.1
urllib3==2.5.0
uv==0.9.21
uvicorn==0.35.0
validators==0.35.0
virtualenv==20.26.4
waitress==3.0.2
watchdog==6.0.0
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
widgetsnbextension==4.0.13
wrapt==1.17.2
yarl==1.20.1
yt-dlp==2025.9.26
zipp==3.21.0
zstandard==0.23.0
zxing-cpp==2.2.0
